.aboutInfo{
    padding: 30px 150px;
    .aboutInfo1{
        
        @media screen and (max-width: 768px){
            padding: 20px;
        }
        .aboutContent{
            .title{
                text-align: center;
            }
        }
       
    }
}