@use './modules/vrs';

.aboutInfo{
    padding: 30px 150px;
    .aboutInfo1{
        
        @media screen and (max-width: 768px){
            padding: 20px;
        }
        .aboutContent{
            .title{
                text-align: center;
                background-color: green;
                width: 20%;
                padding: 10px 20px;
                color: #fff;
                border-radius: 10px;
            }
        }
       
    }

}