.clients{
    padding: 40px 200px;
    
   .text{
    max-width: 1000px;
    color: grey;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    &:hover {
        background-color: #fff;
        transform: translateY(-5px);
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 10px rgb(60, 179, 113);

      }
   }
    .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            width: 200px;
            height: 200px;
        }
    }
}
@media screen and (max-width: 768px){
    .clients{
        padding: 10px;
        .text{
            margin: 0%;
        }
        .logos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 200px;
                margin: auto;
                height: 200px;
            }
        }
    }
}