@use './modules/flex';
.home-page {
  
    .banners {
    
      img{
        width: 100%;
        height: 700px;
        object-fit: cover;
        @media screen and (max-width: 768px){
            height: 200px;
        }
    }
    .bannerImages {
        position: relative;
        text-align: center;
      
        .banner-text {
          position: absolute;
          bottom: 250px;
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          padding: 10px 20px;
          border-radius: 5px;
          color: #fff;
          opacity: 0;
          animation: fadeInUp 1s ease-in-out forwards;
          @media screen and (max-width: 768px){
            bottom: 100px;
        }
        }
      
        &:nth-child(2) .banner-text {
          animation: fadeInUp 1s ease-in-out forwards 1s; /* Delay for 2nd image */
        }
      }
      
      @keyframes fadeInUp {
        from {
          transform: translateX(-50%) translateY(20px);
          opacity: 0;
        }
        to {
          transform: translateX(-50%) translateY(0);
          opacity: 1;
        }
      }
      
      
     
      
    }
}
.homeInfo{
  
  padding: 50px 300px;
  margin-top: 0%;
 
  @media screen and (max-width: 768px){
    padding: 20px;
  }
    
  
  p{
    color: grey;
    font-size: 17px;
    margin: auto;
    width: 600px;
    text-align: center;
    font-weight: lighter;
    line-height: 25px;
    @media screen and (max-width: 768px){
     width: 100%;
    }
  }
}

.whyUs{
  padding: 40px 180px;
  @media screen and (max-width: 768px){
    padding: 20px;
  }
  p{
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }
  // WHAT CAN WE OFFER CONTENT
  .offer{
    text-align: center;
    margin-top: 20px;
    @media screen and (max-width: 768px){
      margin-top: 10px;
     }
    .offer_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px 50px;
        @media screen and (max-width: 768px){
          margin: 10px;
         }
     
    }
    .service{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 40px;
        @media screen and (max-width: 768px){
          flex-direction: column;
          margin-bottom: 50px;
         }

    }
    .designs{
        width: 350px;
        padding: 30px;
        @media screen and (max-width: 768px){
          padding: 0px;
          width: 300px;
         }
        cursor: pointer;
        &:hover{
            background-color: mediumseagreen;
            margin: 0;
            width: 350px;
           
            padding: 30px;
            @media screen and (max-width: 768px){
              padding: 10px 0;
              margin: 30px 0px;
              width: 300px;
             }
            
            h2, i{
                color: #fff;
            }
            p{
              color: #e0dede;
            }
        }
       
        i{
            font-size: 60px;
            color: mediumseagreen;
        }
        h2{
            font-weight: 600;
            color: mediumseagreen;
        }
        p{
            font-size: 15px;
            font-weight: lighter;
            line-height: 20px;
            letter-spacing: 1px;
            color: grey;
        }
        button{
            font-size: 12px;
            border: none;
            font-weight: 600;
            color: grey;
            letter-spacing: 1px;
        }
    } 
}
  // .MainContent{
  //     display: grid;
  //     grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));
  //     justify-content: space-evenly;
  //     gap: 40px;
  //     grid-auto-rows: 180px;
  //     @media screen and (max-width: 768px){
  //       grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  //     }
  //   .whyUsContent{
  //     display: flex;
  //     flex-direction: row;
  //     gap: 10px;
  //     .iconVisible{
  //         .icon1, .icon2, .icon3, .icon4, .icon5{
  //           font-size: 100px;
  //           background-color: mediumseagreen;
  //           border-radius: 50%;
  //           padding: 10px 15px;
  //           color: #fff;
  //           @media screen and (max-width: 768px){
  //             font-size: 30px;
      
  //           }
  //         }
  //         .icon2{
  //           background-color: rgb(113, 43, 226);
  //         }
  //         .icon3{
  //           background-color: rgb(249, 121, 74);
  //         }
  //         .icon4{
  //           background-color: rgb(142, 207, 22);
  //         }
  //         .icon5{
  //           background-color: cadetblue;
  //         }
  //     }
  //     .content{
  //       margin-top: -26px;
        
  //      h2{
  //       margin-bottom: 0;
  //      }
  //      p{
  //       color: grey;
  //       font-size: 13px;
  //       line-height: 20px;
  //       text-align: justify;
  //      }
  //     }
  //   }
  // }
  
}
h1{
  text-align: center;
  color: mediumseagreen;
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size: 16px;
   }
  
}
.figures{
  padding: 40px 200px;
  @media screen and (max-width: 900px){
    padding: 20px;
  }
  .dashboardContent{
   
    @include flex.flexbox(row);
    justify-content: space-between;
    @media screen and (max-width: 900px){
      padding: 20px;
      @include flex.flexbox(column);
    }
    .figureContent{
      display: flex;
      flex-direction: column;
      gap: 80px;
      @media screen and (max-width: 900px){
        gap: 30px;
      }
      .firstRow{
        display: flex;
        flex-direction: row;
        gap: 80px;
        @media screen and (max-width: 900px){
          gap: 10px;
          flex-direction: column;
        }
        .content{
            span{
                margin: 0px 10px;
                font-size: 30px;
                text-align: center;
                @media screen and (max-width: 900px){
                  font-size: 20px;
                }
            }
        }
      }
    }
    .imageContent{
        img{
            width: 600px;
            height: 400px;
            object-fit: cover;
            @media screen and (max-width: 900px){
              width: 100%;
              height: 300px;
            }
        }
    }
}
}
  