@use "./modules/flex";
@use "./modules/vrs";

#navbar {
  padding-block: 10px;
  @include flex.flexbox(row);
  // background: linear-gradient( to bottom,rgb(86, 245, 86),rgb(86, 245, 86),rgb(86, 245, 86)), url("https://thumbs.dreamstime.com/b/banner-lush-green-grass-isolated-against-white-background-190048656.jpg");
  background: linear-gradient( to bottom,rgb(128, 250, 128),rgb(158, 247, 158),rgb(115, 250, 115));
  height: 80px;
  gap: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: vrs.$prim-shadow;
  position: sticky;
  top: 0;
  z-index: 2;
  img{
    width: 200px;
    height: 65px;
    object-fit: cover;
  }
  .container{
  .media-container{
    @include flex.flexbox(row);
    justify-content: space-around;
    p{
      color: vrs.$prim-color;
    }
    .socialLinks{
      @include flex.flexbox(row);
      gap: 30px;
      i{
        color: vrs.$prim-color;
        padding: 4px;
        cursor: pointer;
        &:hover{
          background-color: vrs.$prim-color;
          border-radius: 50%;
          padding: 4px;
          color: #fff;
        }
      }
    }
  }
   
  .logo-title {
    @include flex.flexbox;
    cursor: pointer;
    width: 200px;
    img {
      width: 100%;
    }
  }

  .nav-btn {
    display: none;
  }
  .nav-btn-close {
    display: none;
  }

  .content {
    @include flex.flexbox(_, space-between);
    align-items: flex-end;
  }

  .links {
    @include flex.flexbox;
    list-style: none;
    padding: 0;

    li a {
      color: #fff;
      background-color: vrs.$prim-color;
      border-radius: 20px;
      margin: 15px;
      text-decoration: none;
      padding: 5px 16px;

      &:hover {
        box-shadow: vrs.$btn-shadow;
      }
    }
  }
}
  // adding mobile view
  @media (max-width: 799px) {
    padding: 10px 20px;
    height: 50px;
    img{
      width: 180px;
      height: 70px;
      object-fit: cover;
    }
    .container{
      .media-container{
        display: none;
      }
    .content {
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    .nav-btn {
      display: block;
    }
    .navbtnclose {
      display: block;
    }
    .links.open {
      width: 270px;
      opacity: 1;
    }
    .links {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      margin-left: -8%;
      top: 25px;
      right: 50%;
      left: -160px;
      width: 20%;
      height: 450px;
      justify-content: start;
      gap: 10px;
      overflow: hidden; 
      transition: width 0.3s ease, opacity 0.3s ease;
      opacity: 0; 
      li {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        a {
          text-align: right;
          font-size: 18px;
          
        }
      }
    }
  }
  }

  }




