.services{
    padding: 40px 200px;
   .text{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;

    text-align: justify;
   }
    .servicesContent{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        justify-content: space-evenly;
        gap: 30px;
        
        grid-auto-rows: 180px;
        .imageCard{
            width: 300px;
            height: 100px;
        }
    }
}

@media screen and (max-width: 768px){
    .services{
        padding: 20px;
        .servicesContent{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            justify-content: space-evenly;
            gap: 30px;
            
            grid-auto-rows: 180px;
            .imageCard{
                width: 300px;
                height: 100px;
            }
        }
    }
}